<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="service"/>


    <!-- 具体服务接口的实现 -->
    <bean id="queryService" class="service.impl.QueryServiceImpl"/>
    <bean id="insertService" class="service.impl.InsertServiceImpl"/>
    <bean id="createService" class="service.impl.CreateServiceImpl"/>
    <bean id="deleteService" class="service.impl.DeleteServiceImpl"/>
    <bean id="updateService" class="service.impl.UpdateServiceImpl"/>

    <bean id="globalIndexInfoHolder"
          class="service.hbasemanager.creation.index.GlobalIndexInfoHolder"
          init-method="init"/>

    <bean id="globalTableDescInfoHolder"
          class="service.hbasemanager.creation.tabledesc.GlobalTableDescInfoHolder"
          init-method="init"/>

    <import resource="dubbo-config.xml"/>
</beans>